body {
  background-color: #e3d8e9;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 0.5fr 0.2fr;
  grid-template-areas:
    "header"
    "content"
    "nav";

  width: 100%;
  padding: 10px 50px;
  height: 100vh;
}

.main-header {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  grid-area: header;
}

.header-title {
  color: #68228b;
  font-size: 28px;
  font-weight: 700;
  text-decoration: none;
}

.header-title:hover {
  text-decoration: none;
  color: #ffffff;
  transition: 400ms ease-in;
}

.logout-button {
  background-color: transparent;
  font-size: 18px;
  border: #e3d8e9 solid 1px;
  font-weight: 700;
  color: #68228b;
}

.logout-button i {
  padding: 5px;
  color: #f5ab00;
}

.content-container {
  grid-area: content;
}

.nav-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  bottom: 40px;
  left: 0;
  grid-area: nav;
}

.nav-items {
  width: 30%;
  padding: 15px;
  border-radius: 10px;
  background-color: #ffffff;
  display: flex;
  flex-flow: row wrap;
  box-shadow: 0 0 100px 1px #68228ba6;
  justify-content: space-evenly;
}

.nav-item {
  color: #68228b;
  font-size: 28px;
}

.nav-item:hover {
  color: #f5ab00;
  transition: 400ms ease-in-out;
}

.text-purple {
  font-size: 15px;
  width: 50vw;
  text-align: center !important;
  color: #68228b;
  font-weight: 700;
}

.account-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  height: 90vh;
  align-items: center;
  margin: auto;
}
.accounts-card {
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
}

.accounts-card label {
  font-size: 18px;
  font-weight: 700;
  color: #68228b;
}

.accounts-card input {
  border: #fff solid 1px;
  background-color: #e3d8e9;
  border-radius: 10px;
  font-size: 14px;
  padding: 7px;
}

.accounts-card .button {
  background-color: #68228b;
  color: #fff;
  font-size: 15px;
  font-weight: 700 !important;
  width: 100%;
}

.accounts-card .button:hover {
  background-color: #f5ab00;
  border: #f5ab00 solid 1px;
  text-decoration: none;
  color: #ffffff;
  transition: 500ms ease-in-out;
}
