{% load bootstrap4 %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>Moments</title>
    {% endif %}
    <!-- Load CSS and JavaScript  -->
    {% block styles %} {% bootstrap_css %} {{super}}
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    {% endblock styles %}
  </head>
  <body>
    <div class="main-container">
      <div class="main-header">
        <a href="/" class="header-title">Moments</a
        ><button class="logout-button">
          Log out <i class="fas fa-sign-out-alt"></i>
        </button>
      </div>
      <div class="content-container">
        {% block content %} {% endblock content %}
      </div>
      <div class="nav-container">
        <div class="nav-items">
          <a href="index.html" class="nav-item"><i class="fas fa-home"></i></a>
          <a href="index.html" class="nav-item"
            ><i class="far fa-plus-square"></i
          ></a>
          <a href="index.html" class="nav-item"><i class="fas fa-user"></i></a>
        </div>
      </div>
    </div>

    {% block scripts %}
    <script
      src="https://kit.fontawesome.com/a872bbb5df.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {{bootstrap_javascript}}

    <!-- end of content block -->
    {% endblock scripts %}
  </body>
</html>
