{% extends 'base.html' %}
<!-- load bootstrap -->
{% load bootstrap4 %}
<!-- load static files -->
{% load static %}
<!-- linked post stylesheet -->
{% block styles %} {{block.super}}
<link rel="stylesheet" href="{% static 'css/post.css' %}" />
{% endblock styles %}

<!-- start of content  -->
{% block content %}
<div class="feed-container">
  {% if all_posts %}
  <!-- start of for loop -->
  {% for post in all_posts %}
  <div class="card post-item-container">
    <div class="post-image-container">
      <a class="view-link" href="/post/view/{{post.id}}">
        <img
          src="{{post.image.url}}"
          alt="{{post.image_name}}"
          class="post-image"
      /></a>
    </div>
    <div class="post-content-container">
      <div class="post-header-row">
        <div class="user-details">
          <img
            src="{{post.profile_id.profile_photo.url}}"
            alt="{{post.profile_id.user_name}}"
            class="user-avatar"
          />
          <p class="user-name">{{post.profile_id.user_name}}</p>
        </div>
        <p class="post-time">{{post.created_at | timesince}} ago</p>
      </div>
      <div class="post-caption-row">
        <p class="post-caption">{{post.image_caption}}</p>
      </div>
      <div class="post-interaction-row">
        <a class="post-interaction" href="/">
          <i class="fas fa-comment"></i> {{comments.length}}</a
        >
        <a class="post-interaction" href="/">
          <i class="fas fa-heart"></i> {{post.likes}}</a
        >
      </div>
    </div>
  </div>
  {% endfor %} {% else %}
  <p class="text-center text-purple">There are no posts on your feed</p>
  {% endif %}
</div>
<div class="profile-widget-container">
  <div class="card profile-widget">
    <div class="profile-avatar-container">
      <img src="{{profile.profile_photo.url}}" class="profile-avatar" alt="" />
    </div>

    <div class="profile-details">
      <p class="profile-username">{{profile.user_name}}</p>
      <div class="profile-row">
        <div class="profile-row-item">
          <p class="item-header">Posts</p>
          <p class="item-content">{{post_count}}</p>
        </div>
        <div class="profile-row-item">
          <p class="item-header">Followers</p>
          <p class="item-content">{{profile.follower | length}}</p>
        </div>
        <div class="profile-row-item">
          <p class="item-header">Following</p>
          <p class="item-content">{{profile.following | length}}</p>
        </div>
      </div>
      <a href="/profile/" class="profile-button">View Profile</a>
    </div>
  </div>
</div>
{% endblock content %}
