{% extends 'base.html' %}
<!-- load bootstrap -->
{% load bootstrap4 %}

<!-- load static files -->
{% load static %} {% block styles %} {{block.super}}
<link rel="stylesheet" href="{% static 'css/profile.css' %}" />
{% endblock styles %} {% block content %}
<div class="profile-container">
  <div class="user-details-container">
    <div class="avatar-container">
      <img
        src="https://images.pexels.com/photos/3460478/pexels-photo-3460478.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500 "
        alt=""
        class="user-avatar"
      />
    </div>
    <div class="details-container">
      <div class="details-row">
        <div class="details-row-item">
          <p class="user-name">{{user.username}}</p>
          <p class="user-joined">{{profile.joined}}</p>
        </div>
        <div class="details-row-item">
          <p class="user-detail-item-header">Posts</p>
          <p class="user-detail-item-subheader">{{posts_count}}</p>
        </div>
        <div class="details-row-item">
          <p class="user-detail-item-header">Followers</p>
          <p class="user-detail-item-subheader">{{profile.followers}}</p>
        </div>
        <div class="details-row-item">
          <p class="user-detail-item-header">Following</p>
          <p class="user-detail-item-subheader">{{profile.following}}</p>
        </div>
      </div>
      <div class="details-row">
        <p class="user-bio">{{profile.user_bio}}</p>
      </div>
    </div>
  </div>

  <div class="posts-grid-container">
    {% if posts %} {% for post in posts %}
    <a href="/post/{{post.id}}" class="post-grid-link">
      <img src="{{post.image.url}}" alt="" class="posts-grid-item"
    /></a>
    {% endfor %} {% else %}
    <p class="text-center purple text">You have no posts uploaded.</p>
    {% endif %}
  </div>
</div>
{% endblock content %}
