{% extends 'base.html' %}
<!-- loading bootstrap -->
{% load bootstrap4 %}

<!-- loading static files -->
{% load static %}
<!-- start of styles block -->
{% block styles %} {{block.super}}
<link rel="stylesheet" href="{% static 'css/upload.css' %}" />
{% endblock styles %} {% block content %}
<div class="upload-form-container">
  <form
    class="card upload-form accounts-card"
    enctype="multipart/form-data"
    method="POST"
    action="{% url 'Upload' %}"
  >
    {% csrf_token %} {% bootstrap_form form %}
    <button type="submit" class="upload-button">Post Picture</button>
  </form>
</div>
{% endblock content %}
