{% extends 'django_registration/base.html' %}

<!-- start of block content -->
{% block content %}
<div class="container">
  <div class="row">
    {% if form.errors %}
    <p>Some information might be incorrect</p>
    {% endif %}

    <div class="card">
      <form action="/accounts/register">
        {% csrf_token %} {% bootstrap_form form %}

        <div class="form-control">
          <input type="submit" value="Sign Up" />
        </div>

        <input type="hidden" name="next" value="{{next}}" />
      </form>
    </div>
  </div>
</div>
{% endblock content %}
